@font-face{
  font-family: "Anime Ace"; /*  Для обычного текста  */
  src: url("../fonts/AnimeAce.ttf") format("truetype");
  font-style: normal;
}
@font-face{
  font-family: "Goose"; /*  Для названия  */
  src: url("../fonts/Goose.ttf") format("truetype");
  font-style: normal;
}
@font-face{
  font-family: "NexaScriptLight";    /*  Заголовки/крупный шрифт */
  src: url("../fonts/NexaScriptLight.ttf") format("truetype");
  font-style: normal;
}
@font-face{
  font-family: "VinnytsiaSansRegular";   /*  Кнопки */ 
  src: url("../fonts/VinnytsiaSansRegular.ttf") format("truetype");
  font-style: normal;
}


*{
  font-family: "Anime Ace";
}
h1{
  font-family: "Goose";
}
h2{
  font-family: "Goose";
}
html { overflow-x: hidden; }

body{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0;
  width: 100vw;
}
.blue_square{
    background: #C7E6FD;
    border: solid #C7E6FD;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.header-logo{
  background-image:url(../img/logo.svg);
  background-size:cover;
  background-position:center;
  width: 40vmin;
  height: 30vmin;
  margin: auto;
  display: block;
  padding: 40px;
}
img{  
  max-width: 100%;
}
.logo-text{
    width: 60vw;
    font-size: 3.5vw;
    line-height: 75px;
    text-align: center;
    margin-bottom: 1px;
}
.text-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo-text2{
    font-size: 1.5vw;
    line-height: 75px;
    text-align: center;
}
.contacts{
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.contacts-text{
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    padding: 15px;
    font-family: "Goose";
}

.content-div{
    display: flex;
    flex-direction: row;
    width: 98vw;
}

.burger-menu{
 width: 111px;
 display: none;
}
.burger-menu-close{
  width: 111px;
  border:none;
  outline: none;
  display: none;
 }
.burger-menu_button{
  display: block;
  cursor: pointer;
}
.menu{
    width: 20vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.menu-button{
    width: 20vw;
    height: 64px;
    background: rgba(199, 230, 253, 0.28);
    border: 5px solid #C7E6FD;
    border-radius: 62px;
    margin: 5px;
    font-size: 2vw;
    font-family: "VinnytsiaSansRegular";
    line-height: 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #6e808d;;
    transition: 0.2s;
}
.menu-button:hover{
  background: #C7E6FD;
}
.menu-button:active{
  background: #C7E6FD;
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
main{
  width:60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form{
  margin-left: 3vw;
  margin-top: 1vw;
}
.caling-input{
  background: #FFFFFF;
  border: 3px solid #C7E6FD;
  box-sizing: border-box;
  border-radius: 10px;
  width: 30vw;
  height: 2vw;
  outline: none;
}
textarea{
  width: 30vw;
  height: 10vw;
  border: 3px solid #C7E6FD;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}
.caling-check{
  width: 2vw;
  outline: none;
}
.soglasie{
  display: flex;
  align-items: center;
  
}
.overlay {
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}

.modal {
  
  opacity: 0;
  visibility: hidden;
  overflow-y:scroll;
  
  
  width: 100%;
  max-width: 60vw;
  max-height: 70vw;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.modal.active,
.overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

.calling-button{
  width: 20vw;
  height: 5vw;
  font-size: 24px;
  background: rgba(199, 230, 253, 0.4);
  border: 6px solid #C7E6FD;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #6e808d;;
  transition: 0.2s;
}
.calling-button:active{
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.poisk{
  position: relative;
  margin-top:20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu2{
display: flex;
flex-direction: column;
align-items:center;
width: 20vw;
}

#input-place{
  position: relative;
  z-index: 1;
  height: 50px;
  width: 15vw;
  background: #FFFFFF;
  border: 5px solid #C7E6FD;
  border-radius: 62px 0px 0px 62px;
  outline: none;
  padding-left: 10px;
}
#input-button{
  width: 80px;
  height: 62px;
  background: rgba(199, 230, 253, 0.28);
  border: 5px solid #C7E6FD;
  border-radius: 0px 62px 62px 0px;
  right: 0;
  outline: none;
  transition: 0.2s;
}
#input-button:active{
background: #C7E6FD;
box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.other-sites{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.other-sites-button{
  height: 5vw;
  width: 20vw;
  margin: 5px;
  font-size: 1vw;
  font-family: "VinnytsiaSansRegular";
  background: #FFFFFF;
  border: 4px solid #A0D7FF;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #6e808d;;
  transition: 0.2s;
}
.other-sites-button:hover{
  background: #A0D7FF;
}
.other-sites-button:active{
background: #A0D7FF;;
top: .1em;
left: .1em;
box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.main-text{
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
.text-main{
  font-weight: normal;
  font-size: 48px;
  text-align: center;
}
.footer-blue{
      background: #C7E6FD;
      border: solid #C7E6FD;
      border-radius: 20px 20px 0px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items:center;
      width: 100vw;
}
.copyright{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin:5px;
}
@media screen and (max-width: 1024px){
  .contacts{
    display: none;
  }
  .logo-text2{
    font-size: 1.8vw;
  }
  .content-div{
    flex-direction: column;
  }
  .menu{
    margin-left: auto;
    margin-right: auto;
    order: 1;
    width: 50vw;
  }
  .menu-button{
    width: 50vw;
    font-size: 4vw;
  }
  main{
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    font-size: 3vw;
    order: 3;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .form-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .caling-input{
    width: 60vw;
    height: 4vw;
    font-size: 3vw;
  }
  textarea{
    width: 60vw;
    height: 20vw;
    font-size: 3vw;
  }
  .caling-check{
    margin-right: 10vw;
    transform:scale(3.0);
    outline: none;
  }
  .soglasie{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3vw;
    text-align: center;
  }
  .calling-button{
    width: 40vw;
    height: 15vw;
  }
  .menu2{
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }
  .other-sites-button{
    font-size: 3vw;
    height: 35vw;
    width: 35vw;
  }
  .other-sites{
    width: 95vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #input-place{
    width: 50vw;
  }
  .footer-blue{
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 800px){
.logo-text2{
  font-size: 15px;
  line-height: normal;
}
.logo-text{
  font-size: 24px;
  line-height: normal;
}
}

@media screen and (max-width: 600px){
.burger-menu{
  display: block;
}
.text-logo{
  display: none;
}
.menu-button{
  display: none;
}
.other-sites{
  flex-direction: column;
}
main{
  font-size: 4vw;
}
.caling-input{
  width: 90vw;
  height: 10vw;
  font-size: 5vw;
}
textarea{
  width: 90vw;
  height: 40vw;
  font-size: 5vw;
}
.caling-check{
  transform:scale(5.0);
  outline: none;
}
.soglasie{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5vw;
}
.calling-button{
  width: 70vw;
  height: 30vw;
}
.other-sites-button{
  height: 35vw;
  width: 75vw;
  font-size: 16px;
}
#input-place{
  width: 65vw;
}
.header-logo{
  width: 20vmin;
  height: 15vmin;
}
.logo-text2{
  font-size: 14px;
  line-height: normal;
}
.logo-text{
  font-size: 18px;
  line-height: normal;
}
.text-main{
  font-size: 24px;
}

}